@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size:62.5%
}

body {
    font-size: 1.6rem;
}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu .menunav ul li{
    display: flex;
    float: left;
    font-size: 1.8rem;
    padding: 10px 40px 0px 0px;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all 0.6s;
}

.menu ul li:hover{
    color: #c2fe07;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 3px 3px black;
    cursor: pointer;
}

.logo1{
    color: #c2fe07;
}

.logo2{
    color: white;
    text-shadow: 2px 3px 3px black;
}

.conteudo-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(17,17,17,0.6), rgba(20,20,20, 1)), url(img/relogiobanner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.conteudo-meio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-banner-inicio {
    width: 530px;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 5px 5px 3px black;
    margin-top: 50px;
}

.text-banner-inicio p{
    font-size: 1.4rem;
    text-align: justify;
}

.text-banner-inicio i{
    display: block;
    color: white;
}

.titulo{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 16px;
}

#first-word{
    color: #c2fe07;
    transition: 1s;
}

#first-word:hover{
    color: orange;
    text-shadow: 3px 3px 2px black;
    cursor: pointer;
    letter-spacing: 2px;
}

.icons{
    color: #c2fe07;
    width: 10px;
    background-color:white;
}

.img-banner img{
    border-radius: 100%;
    filter: drop-shadow(0 0 0.2em #7c7c7c);
}

.beneficios{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.icon1, .icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: 150px;
    margin: 50px 50px 0px 3px;
}

.icon1 img,.icon2 img {
    width: 45px;
    margin-bottom: 15px;
}

.icon1 h4, .icon2 h4{
    font-weight: lighter;
    font-size: 1.2rem;
    color: whitesmoke;
    text-shadow: 5px 5px 3px black;
}

.core-features{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.conteudo-features{
    flex-direction: column;
    text-align: center;
}

.titulo-features b{
    color: #c2fe07;
    text-shadow: 2px 2px 3px black;
    transition: 1s;
}

.titulo-features b:hover{
    color: orange;
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
    letter-spacing: 1px;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature{
    width: 200px;
    height: auto;
    border: 2.5px solid #7c7c7c;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}

.features h1{
    font-size: 1.5rem;
    margin-top: 10px;
}

.features p{
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: justify;
}

.banner-meio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.titulo-banner-meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin: 0px 100px;
}

.titulo-banner-meio h1{
    font-size: 2.4rem;
    padding-top: 60px;
    padding-bottom: 10px;
}

.titulo-banner-meio h4{
    font-size: 1.6rem;
}

.titulo-banner-meio b{
    color: #c2fe07;
    text-shadow: 2px 2px 3px black;
    transition: 1s;
    cursor: pointer;
}

.titulo-banner-meio b:hover{
    color: orange;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 1px;
}

.img-banner-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.img-banner-meio img{
    height: 530px;
    filter: drop-shadow(0 0 0.3em black);
}

.img-banner-meio:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.5em black);
}

.informations-banner-meio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.caracteristicas-relogio{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.caracteristicas-relogio h5{
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.exercicio img{
    width: 80px;
    transition: 0.4s;
}

.exercicio img:hover{
    transform: scale(1.15);
}

.ultimo-conteudo{
    height: 100vh;
    display: flex;        
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.mais-utilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mais-utilidades h1{
    padding: 30px;
    font-size: 2.8rem;
}

.mais-utilidades h1 b{
    color: #c2fe07;    
    text-shadow: 2px 2px 3px black;
    transition: 1s;
}

.mais-utilidades h1 b:hover{
    color: orange;
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
    letter-spacing: 2px;
}

.img-utilidades{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.img-utilidades img{
    padding: 30px 0px 40px 0px;
    transition: 1s;
}

.img-utilidades img:hover{
    transform: scale(1.05);
}

.widget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7c7c7c;
}

.dados{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.dados img{
    width: 20px;
    margin-right: 10px;
}

.divs-footer{
  padding-top: 100px;
  padding-bottom: 100px;
}

.divs-footer h3{
    padding-bottom: 15px;
}
.divs-footer ul li{
    margin: 10px;
}

.copyright{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7c7c7c;
    padding: 10px 0px 10px 20px;
    border-top: 1px solid black;
}

.redes-sociais img{
    width: 40px;
    margin-right: 10px;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 20px 40px 0px;
}
.mm_line{
    height: 3px;
    background-color: #c2fe07;
}
body{
    overflow-x: hidden;
}

@media (max-width: 1057px) {
   
    .img-banner img{
        width: 90%;
    }
    html {
        font-size:50%;
    }
    .informations{
        padding-left: 50px;
    }
}

@media (max-width: 768px) {
    .conteudo-inicial{
        justify-content: space-evenly;
    }
    .conteudo-meio{
        flex-direction: column;
        text-align: center;
        
    }

    .img-banner img {
        display: none;
    }
    .titulo-features{
       margin-bottom: 10rem;
    }

    .feature{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 12px;
    }

    .core-features{
        height:100vh;
    }
    .img-banner-meio img{
        padding-bottom: 5rem;
    }
    .img-utilidades{
        width: 70%;
    }
}

@media (max-width: 425px) {
    .conteudo-inicial{
        justify-content: flex-start;
    }
    .menu-content{
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .logo{
        font-size: 4.5rem;
        margin-left: 20px;
    }
    .informations{
        padding: 0;
    }
    .conteudo-meio{
        padding-top: 0px;
    }
    .icon1,.icon2{
        margin: 0px;
    }
    .core-features{
        justify-content: space-around;
    }
    .img-utilidades img{
        width: 50px;
    }
    .img-utilidades{
        width: auto;
        flex-wrap: nowrap;
    }
    .titulo-features h1{
        margin: 0px 20px 0px 20px;
    }
    .features{
        width: 100vw;
        padding: 0px 15px 0px 15px;
    }
    .features p{
        display: none;
    }

    .text-banner-inicio{
        width: 300px;
    }
    .titulo-banner-meio{
        margin: 0px 50px 50px;
    }
    .banner-meio{
        height: auto;
    }
    .informations-banner-meio{
        flex-direction: column;
    }
    .caracteristicas-relogio{
        flex-direction: row;
    }
    .exercicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
    }
    .exercicio img{
        margin-bottom: 12px;
    }   
    .ultimo-conteudo{
        height: auto;
    }
    .img-utilidades{
        width: auto;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .divs-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
    }

    .menu nav ul{
        flex-direction: column;
        float: none;
        display: none;
        position: absolute;
        right: 0;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        padding: 0px 0px 15px 15px;
        border-radius: 0px 0px 0px 10px;
    }

    .menu nav ul li{
        font-size: 2.3rem;
        padding: 10px;
    }

    .menuMobile{
        display: flex;
       justify-content: space-around;
       flex-direction: column; 
    }
    .conteudo-final{
        padding-top: 50px;
    }
    .copyright{
        flex-direction: column;
    }
    .redes-sociais{
        margin-top: 10px;
    }
    .beneficios{
        padding-top: 20px;
    }
    .informations p{
        padding-top: 30px;
    }
    footer{
        flex-direction: column;
    }
    .divs-footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 400px){
    .conteudo-inicial{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .img-banner-meio img{
        width: 100%;
    }
    .core-features{
        height: auto;
    }
    .features{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .titulo-features{
        margin: 30px 10px;
    }
    .divs-footer{
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .divs-footer h3{
        padding-bottom: 5px;
    }
    .conteudo-final{
        padding-top: 50px;
    }
    .atendimento{
        padding-bottom: 20px;
    }
    .dados{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .divs-footer{
        margin: 0;
    }
    .copyright{
        font-size: 1.2rem;
        padding: 10px;
    }
    .copyright h6{
        font-size: 1.2rem;
    }
}